/* General body styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    padding-top: 100px; /* Adjust based on your footer's height */
}

/* Footer styling */
footer {
    padding: 30px;
    background: #474747;
    background: -moz-linear-gradient(top, #474747 0%, #171B37 100%);
    background: -webkit-linear-gradient(top, #474747 0%, #171B37 100%);
    background: linear-gradient(to bottom, #474747 0%, #171B37 100%);
    text-align: center;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.footer-logo {
    position: absolute;
    left: 30px;
    height: 45px;
    width: auto;
    transition: transform 0.3s ease;
}

.footer-logo:hover {
    transform: scale(1.05);
}

.link-container {
    display: flex;
    align-items: center;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0 0 0 80px;
    display: flex;
}

.footer-links li {
    margin: 0 60px;
}

.footer-links a {
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
    transition: transform 0.3s ease, font-size 0.3s ease; /* Ensures smooth transitions */
    display: inline-block; /* Allows transform to affect inline elements like text */
    margin: 0 20px; /* Adjust margin as needed */
    font-size: 16px; /* Default font size */
}

.footer-links a:hover {
    text-decoration: underline;
    transform: scale(1.2); /* Scales up the text by 20% */
    font-size: 18px; /* Optionally increase the font size slightly for more emphasis */
}


/* About box styling */
.about-box {
    display: flex;
    width: 80vw; /* Adjust as needed */
    height: 60vh;
    box-shadow: 0 10px 12px rgba(0,0,0,0.1);
    margin-top: 20px; /* Space below the fixed footer */
    padding: 20px;
    background: #fff; /* Optional */
}

.about-text {
    flex: 1;
    font-size: 24px;
    padding-right: 20px;
}

.about-photo {
    flex: 1;
}

/* Ensure content does not overlap with fixed footer */
.content {
    padding: 20px;
    margin-top: 150px;
}
